[run]
branch = False
source = 
    unstable_baselines/
omit = 
    test/*
    unstable_baselines/logger/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    # sub-process function
    def _subproc_worker