[run]
branch = False
source = 
    unstable_baselines/
omit = 
    # Unittest
    test/*
    # Logger (submodule)
    unstable_baselines/logger/*
    # Examples
    example/*
    # Deprecated packages
    unstable_baselines/dep/*
    # pip setup
    setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    # sub-process function
    def _subproc_worker
